# APP
APP_NAME="Choir Concierge (Local)"
APP_ENV=local
MIX_APP_ENV=${APP_ENV}
APP_KEY=
APP_DEBUG=true
APP_URL=http://choirconcierge.test
TENANCY_CENTRAL_DOMAIN=${APP_URL}
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=

# APP OTHER
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=database

# FILESYSTEM
FILESYSTEM_DISK=public
MEDIA_DISK=media

# DATABASE
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=choirconcierge
DB_USERNAME=root
DB_PASSWORD=

# OUTGOING MAIL - Mailtrap
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# OUTGOING MAIL - Laravel Herd
#MAIL_MAILER=smtp
#MAIL_HOST=127.0.0.1
#MAIL_PORT=2525
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null

# OUTGOING MAIL - Mailgun
#MAIL_MAILER=mailgun
#MAILGUN_DOMAIN=
#MAILGUN_SECRET=

# OUTGOING MAIL - ADDRESSES
MAIL_FROM_ADDRESS=hello@choirconcierge.com
MAIL_FROM_NAME="Choir Concierge"
MAIL_SALES_ADDRESS=hayley@choirconcierge.com
MAIL_SALES_NAME="Hayley Bech"
MAIL_LIST_ADDRESS_ALERTS=

# INCOMING MAIL
IMAP_HOST_DISPLAY=choirconcierge.com
IMAP_HOST=
IMAP_PORT=
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=true
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_DEFAULT_ACCOUNT=default
IMAP_PROTOCOL=imap

# LARAVEL SPARK
CASHIER_CURRENCY=USD
CASHIER_CURRENCY_LOCALE=en
PADDLE_SANDBOX=true
PADDLE_VENDOR_ID=your-paddle-vendor-id
PADDLE_VENDOR_AUTH_CODE=your-paddle-vendor-auth-code
PADDLE_PUBLIC_KEY=
SPARK_PLAN_SMALL_YEARLY=62775
SPARK_PLAN_MEDIUM_YEARLY=62838
SPARK_PLAN_LARGE_YEARLY=62839

# HEARTBEATS
HEARTBEAT_PROCESS_GROUP_MAILBOX=
HEARTBEAT_CLEAR_DUPLICATE_EMAILS=
HEARTBEAT_TELESCOPE_PRUNE=
HEARTBEAT_BACKUP_CLEAN=
HEARTBEAT_BACKUP_RUN=
HEARTBEAT_CLEAR_TEMPORARY_BROADCAST_FILES=
HEARTBEAT_RESET_DEMO_SITE=

# API KEYS
API_GOOGLE_KEY=
DROPBOX_ACCESS_TOKEN=

# SLACK
SLACK_BOT_USER_OAUTH_TOKEN=
SLACK_BOT_USER_DEFAULT_CHANNEL=

# DEBUG
QUERY_DETECTOR_ENABLED=false
TELESCOPE_TRACK_ALL=true

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# BROADCASTING
BROADCAST_DRIVER=log
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

# SENTRY
MIX_SENTRY_DSN=
MIX_SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_ENVIRONMENT=local
MIX_SENTRY_ENV=${SENTRY_ENVIRONMENT}

# FEATURES
MIX_FEATURE_BILLING=true