# Prettier
/.idea
/.vagrant
/bootstrap
/config
/node_modules
/public/css/app.css
/public/fonts
/public/hot
/public/js/app.js
/public/js/test.js
/public/mailoutput
/public/storage
/public/vendor
/public/index.php
/public/mix-manifest.json
/resources/assets/js/lib
/resources/lang
/resources/views/vendor
/reports/
/routes
/storage
/vendor

.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
artisan
composer.phar
composer.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package.json
package-lock.json
phpstan.neon
phpunit.xml
queue.pid
server.php
tsconfig.json
yarn.lock
yarn-error.log

# npx prettier './**/*.{js,php,vue}' --write
# npx prettier './**/*.{js,php,vue}' -l
