/* Base Styles */
a.disabled:hover {
    cursor: default;
}

/* Header */
nav {
	margin-bottom: 10px;
}

.logo {
	/*max-width:100%;
	height:auto;
	max-height: 100px;
	margin-top: 20px;*/
	height: 50px;
}

/* Singers List */
.card {
	margin-bottom: 10px;
}

.singer-name {
	font-size: 1.2rem;
}
.singer-email {
	font-size: 0.8rem;
}
.singer-part {
	font-size: 0.8rem;
}
.singer-phone {
	font-size: 0.8rem;
}

.singer-age {
	font-size: 0.8rem;
}

.card .list-group {
	font-size: 0.9rem;
}


.r-table__tbody .r-table__row {
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.r-table__row:nth-child(even) {
	background-color: #eee;
}
.r-table__cell,
.r-table__heading {
	flex: 1 0 auto;

	display: flex;
	align-items: center;
}
.r-table__heading {
	font-weight: 600;
}


.r-table__row {
	padding: 5px;

	display: grid;
	grid-template-columns: 3% 17% 17% 7% 13% 11% 6% auto;
	grid-template-rows: 1fr;
	grid-template-areas:
		"mark singer progress part category phone age actions"
	;
	gap: 5px 8px;
	place-items: stretch;
}
.column--mark {
	grid-area: mark;

	justify-content: center;
	visibility: hidden; /* I haven't coded bulk actions yet */
}
.column--singer {
	grid-area: singer;

	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
}
.column--progress {
	grid-area: progress;

	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}
.column--part {
	grid-area: part;
}
.column--category {
	grid-area: category;
}
.column--phone {
	grid-area: phone;
}
.column--age {
	grid-area: age;
}
.column--actions {
	grid-area: actions;
}

.progress {
	height: 0.7rem;
	width: 80px;
	flex: 0 1 auto;
	border: 1px solid #ddd;
}

.singer-name {
	font-size: 0.9rem;
	font-weight: 600;
}
.progress--link {
	font-size: 0.9rem;
}
.form-inline .input-group > .custom-select {
	width: 90px !important;
}

select.form-control-sm.force-xs {
	height: 25px !important;
	line-height: 1em;
	padding-top: 0.3rem;
	padding-left: 0.6rem;
}
.btn-sm.force-xs {
	line-height: 1em !important;
	height: 25px;
}

@media screen and (max-width:980px) {
	.r-table--hide-columns-mobile {

	}
	.r-table--hide-columns-mobile .column--singer {
		width: 30%;
		max-width: 30%;
	}

	.r-table--hide-columns-mobile .column--category,
	.r-table--hide-columns-mobile .column--age,
	.r-table--hide-columns-mobile .column--phone,
	.r-table--hide-columns-mobile .column--actions {
		display: none;
	}
	.r-table--hide-columns-mobile .singer-name {
		font-size: 0.9rem;
	}



	.r-table--card-view-mobile {

	}
	.r-table--card-view-mobile .r-table__thead .r-table__row {
		grid-template-columns: 5% auto;
		grid-template-rows: auto;
		grid-template-areas: "mark singer";
		padding: 0 20px 0 12px;
	}
	.r-table--card-view-mobile .r-table__thead .r-table__heading:not(.column--mark):not(.column--singer) {
		display: none;
	}
	.r-table--card-view-mobile .r-table__row {
		padding: 12px 20px 12px 12px;
		margin: 10px 0;

		grid-template-columns: 5% 1fr 1fr;
		grid-template-rows: auto 1fr 1fr 1fr auto;
		grid-template-areas:
			"mark singer singer"
			"mark progress progress"
			"mark part category"
			"mark phone age"
			"mark actions actions"
		;
		gap: 3px 10px;
	}
	.r-table--card-view-mobile .column--mark {

	}
	.r-table--card-view-mobile .column--singer {

	}
	.r-table--card-view-mobile .column--progress {
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	.r-table--card-view-mobile .column--part {

	}
	.r-table--card-view-mobile .column--category {

	}
	.r-table--card-view-mobile .column--phone {

	}
	.r-table--card-view-mobile .column--age {

	}
	.r-table--card-view-mobile .column--actions {

	}

}



i.fa.fa-external-link {
    font-size: 0.8em;
}

.navbar-nav i.fa.fa-fw {
    margin-right: 5px;
}

/* Fix for bootstrap bug */
.form-inline .custom-select {
	width: auto !important;
}


/* Headway widget styles */
#changelog-link {
	position: relative;
	padding-right: 10px;
}
#changelog-link #HW_badge_cont {
	position: absolute;
	top: -5px;
}

/* Accordion / Collapse */
/* Add icons to accordion */
.accordion a.btn {
	display: block;
	text-align: left;
}
.accordion a.btn:after {
	width: 32px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f077";
	float: right;
}

.accordion a.btn.collapsed:after {
	content: "\f078";
}