/* Base Styles */
a.disabled:hover {
	cursor: default;
}


/**********************************/
/* PAGE HEADER */
.page-header {
	margin-bottom: -80px;
	padding-bottom: 100px;
}
.bg-gradient-blue-purple {
	background-color: #0061f2;
	background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}

@media screen and (max-width: 767px) {
	.display-4 {
		font-size: 2.5rem;
	}
}

/* Breadcrumbs */
.breadcrumb {
	background-color: transparent;
	padding: 0;
	margin-bottom: 0;
	margin-left: 10px;
}
.breadcrumb-item + .breadcrumb-item::before {

}
.breadcrumb-item.active {

}

/**********************************/
/** PAGE LAYOUT **/
.card {
	margin-bottom: 10px;
	box-shadow: none;
	
	border-radius: 20px;
	border: none;
	overflow: hidden;

	background-color: var(--c-off-white);
}
.card-header {
	border: none;
	font-weight: 600;
	background-color: transparent;
	color: #555;
}

.card .list-group {
	font-size: 16px;
}

@media screen and (max-width: 767px) {
	h4.card-header,
	.h4.card-header {
		font-size: 1rem;
	}
}





/**************************************/






i.fa.fa-external-link {
    font-size: 0.8em;
}

.navbar-nav i {
    margin-right: 5px;
}

/* Fix for bootstrap bug */
.form-inline .custom-select {
	width: auto !important;
    line-height: 1.3;
}



/* Headway widget styles */
#changelog-link {
	position: relative;
	padding-right: 10px;
}
#changelog-link #HW_badge_cont {
	position: absolute;
	top: -5px;
	right: 0;
}





/* Location input */
.place-icon {
	height: 1em;
	width: 1em;
	background-size: cover;
	display: inline-block;
}
.place-name {
	font-weight: 600;
}


/** RESPONSIVE GOOGLE MAPS EMBED **/
.google-maps {
	position: relative;
	padding-bottom: 56.25%; /* This is the aspect ratio */
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}


