@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
}

/* Quill Editor */
.ql-container, .ql-editor {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
.ql-toolbar {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.ql-editor {
    background-color: white;
}

/* PDF Viewer */
.react-pdf__Page__canvas {
    margin: 0 auto;
}

