/*** FILE EXTENSION ICONS ***/

.fad.fa-file-word {
  --fa-primary-color: var(--primary);
  --fa-secondary-color: var(--primary);
}
.fad.fa-file-excel,
.fad.fa-file-csv {
  --fa-primary-color: var(--success);
  --fa-secondary-color: var(--success);
}
.fad.fa-file-powerpoint {
  --fa-primary-color: var(--orange);
  --fa-secondary-color: var(--orange);
}
.fad.fa-file-pdf {
  --fa-primary-color: var(--danger);
  --fa-secondary-color: var(--danger);
}
.fad.fa-file-image {
  --fa-primary-color: var(--purple);
  --fa-secondary-color: var(--purple);
}
.fad.fa-file-video {
  --fa-primary-color: var(--purple);
  --fa-secondary-color: var(--purple);
}
.fad.fa-file-audio {
  --fa-primary-color: #0061f2;
  --fa-secondary-color: #0061f2;
}
.fad.fa-file-alt {
  --fa-primary-color: var(--gray);
  --fa-secondary-color: var(--gray);
}
.fad.fa-file {
  --fa-primary-color: var(--gray-dark);
  --fa-secondary-color: var(--gray-dark);
}