/*** MAIN MENU ***/

#app-header .navbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  background-color: rgb(var(--c-dark-purple)) !important;
  padding: 0;
  text-align: center;
}

.choir-logo {
  z-index: 5;
  background-color: var(--c-off-white);
  width: 100%;
  padding: 20px 40px;
  margin-top: 10px;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    padding: 15px 40px;
    margin-top: 0;
  }

  @media screen and (max-width: 1199px){
    border-radius: 15px;
    padding: 10px 20px;

    img {
      height: 50px;
      width: auto;
    }
  }
}
#app-header .navbar .nav-vertical {
  flex-flow: column nowrap;
  margin-left: 30px;
  position: relative;

  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    margin-left: 15px;
  }
  @media screen and (max-width: 1199px) {
    margin-left: 0;
  }
}
#app-header .navbar .nav-vertical:after {
  content: ' ';
  position: absolute;
  right: 0;
  height: 100%;
  width: var(--nav-item-border-radius);
  background-color: var(--c-light-pink);
}

#app-header .navbar-dark .nav-item {
  background-color: rgb(var(--c-dark-purple));
  border-top-right-radius: var(--nav-item-border-radius);
  border-bottom-right-radius: var(--nav-item-border-radius);
  position: relative;
  z-index: 1;
}
#app-header .navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 30px;
  transition: all 0.2s;

  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    padding: 10px 20px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 14px;
    padding: 15px;
  }
}
#app-header .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
#app-header .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link i {
  font-size: 16px;
}
.nav-link i:not(.menu-chevron) {
  margin-right: 10px;

  @media screen and (max-width: 1199px){
    margin-right: 20px;
  }
}


.nav-link {
  display: flex;
  align-items: center;
}
.nav-link > span {
  display: flex;
  align-items: center;
}

/*
.nav-item i {
	color: #0061f2;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.8);
}*/


/* ACTIVE MENU ITEM */
#app-header{
  .navbar-dark .navbar-nav > .nav-item.active,
  .navbar-dark .navbar-nav > .nav-item.active > .nav-link {
    background-color: var(--c-light-pink);
    border-top-left-radius: var(--nav-item-border-radius);
    border-bottom-left-radius: var(--nav-item-border-radius);
  }
  .navbar-dark .navbar-nav > .nav-item.active,
  .navbar-dark .navbar-nav > .nav-item.active > .nav-link,
  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link {
    color: rgb(var(--c-dark-purple));
    z-index: 2;
  }
  .navbar-dark .navbar-nav > .nav-item.active > .nav-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link {
    background-color: var(--c-light-pink);
    position: relative;
    z-index: 2;

    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      padding-bottom: 10px;
    }
    @media screen and (max-width: 1199px) {
      padding-left: 5px;
    }
  }

  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link.active,
  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link.active .link-text {
    transition: all 0.2s;
  }
  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link:hover,
  .navbar-dark .navbar-nav > .nav-item.active > .submenu > .nav-link:hover .link-text {
    color: rgba(var(--c-dark-purple), 0.5);
  }



  .navbar-dark .navbar-nav > .nav-item {
    position: relative;
  }
  /* BEFORE/AFTER ACTIVE MENU ITEM */
  .navbar-dark .navbar-nav > .nav-item:before,
  .navbar-dark .navbar-nav > .nav-item:after {
    content: ' ';
    position: absolute;
    right: 0;
    background-color: rgb(var(--c-dark-purple));
    width: var(--nav-item-border-radius);
    height: var(--nav-item-border-radius);
    z-index: 1;
  }
  .navbar-dark .navbar-nav > .nav-item:before {
    top: calc(var(--nav-item-border-radius) * -1);
  }
  .navbar-dark .navbar-nav > .nav-item:after {
    bottom: calc(var(--nav-item-border-radius) * -1);
  }
  .navbar-dark .navbar-nav > .nav-item.active:before {
    border-bottom-right-radius: var( --nav-item-border-radius);
  }
  .navbar-dark .navbar-nav > .nav-item.active:after {
    border-top-right-radius: var( --nav-item-border-radius);
  }

  /* Override previous styles for first/last menu items */
  .navbar-dark .navbar-nav > .nav-item:not(.active):first-child:before {
    top: 0;
  }
  .navbar-dark .navbar-nav > .nav-item:not(.active):last-child:after {
    bottom: 0;
  }
  .nav-facade-top .nav-link,
  .nav-facade-bottom .nav-link {
    height: 60px;
  }
  .nav-facade-top {
    margin-top: -30px;
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      margin-top: -45px;
    }
    @media screen and (max-width: 1199px) {
      margin-top: -50px;
    }
  }

  /*
  .navbar-nav .nav-link.active i {
      color: #6900c7;
  }*/
  .navbar-nav .nav-link.active .link-text {
    color: rgb(var(--c-dark-purple));
    font-weight: 600;
  }
  .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }
  .navbar-light .navbar-nav .show > .nav-link:hover,
  .navbar-light .navbar-nav .show > .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar-nav i.menu-chevron {
    font-size: 1em;
    margin-right: -0.1em;
  }


  .nav-item .submenu {
    margin-left: var(--nav-item-border-radius);
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      margin-left: 20px;
    }
  }
  .nav-item .submenu .nav-link {
    padding-left: 0;
  }
  .nav-item .submenu .nav-link {
    padding-top: 0;
  }
  .nav-item .submenu .nav-link .link-text {
    text-transform: none;
  }

}
/*
* Show FA chevrons on BS collapse
 * See: https://stackoverflow.com/questions/38970267/bootstrap-4-collapse-show-state-with-font-awesome-icon
 */
[data-toggle="collapse"] .menu-chevron:before {
  content: "\f077";
}

[data-toggle="collapse"].collapsed .menu-chevron:before {
  content: "\f078";
}

.logo {
  /*max-width:100%;
  height:auto;
  max-height: 100px;
  margin-top: 20px;*/
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 40px 0;
  z-index: 2;
  position: relative;
}
.logo-collapse {
  display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .logo {
    padding: 15px 40px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    padding-top: 5px;
    height: 40px;
    width: auto;
  }

  .navbar .nav-vertical:after {
    display: none;
  }
  .navbar-dark .navbar-nav > .nav-item.active {
    border-top-right-radius: var(--nav-item-border-radius);
    border-bottom-right-radius: var(--nav-item-border-radius);
    overflow: hidden;
  }
}



@media screen and (max-width: 1199px) {
  .nav-collapse-link {
    display: none;
  }

  /* Collapse menu by default on small screens */
  /*header .logo,
  header.link-text {
      display: none;
  }
  .logo-collapse {
      display: block;
  }*/





  #app-header .navbar {
    padding: 20px 30px;
    overflow: auto;
  }

  #app-header .navbar-nav {
    padding-bottom: 50px;
  }
  #app-header .nav-item {
    font-size: 16px;
  }
  #app-header .navbar-nav .nav-link {
    padding: 0.6rem 1rem;
  }
  .nav-item .submenu {
    margin-left: 0;
  }
}

/* MOBILE TAP BAR */
.tap-bar {
  display: none;

  flex: 1 0 auto;
  position: relative;
  width: 100%;
  background-color: var(--c-light-pink);
  padding: 10px;
  z-index: 10000;
  border-top: 1px solid #ccc;
}
.tap-bar .nav {
  flex-wrap: nowrap;
}
.nav-pills .nav-link {
  color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
}
.nav-pills .nav-link.active {
  background-color: rgb(var(--c-dark-purple));
}
.nav-pills .nav-link.active i {
  color: white;
}
@media screen and (max-width: 1199px) {
  .tap-bar {
    display: block;
  }
}