/*** INDEX TABLES ***/

.r-table__cell,
.r-table__heading {
  flex: 1 0 auto;

  display: flex;
  align-items: center;
}
.r-table__heading {
  font-weight: 600;
}
.r-table__heading,
.r-table__heading a {
  color: #777;
  font-weight: 800;
}
.r-table__heading a {
  display: flex;
  align-items: center;
  width: 100%;
}
.r-table__heading a:hover {
  text-decoration: none;
}
.r-table__heading a i {
  margin-left: 8px;
}
.r-table__row {
  padding: 10px 50px 10px 20px;

  display: grid;
  gap: 5px 8px;
  place-items: stretch;
  border-bottom: 1px solid var(--c-light-pink);
}
.r-table__thead .r-table__row {
  padding-top: 0;
  padding-bottom: 20px;
}

/* Select & Delete Columns */
.col--mark {
  grid-area: mark;

  justify-content: center;
  visibility: hidden; /* I haven't coded bulk actions yet */
}
.col--title {
  grid-area: title;
}
.col--created {
  grid-area: created;
}
.col--delete {
  grid-area: delete;
}

.row-add .r-table__cell {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Tables - Tablet */
@media screen and (max-width:980px) {
  .form-inline .input-group > .custom-select {
    width: auto !important;
  }
}
/* Tables - Mobile */
@media screen and (max-width:767px) {
  .r-table--card-view-mobile .r-table__thead .r-table__row {
    padding: 0 20px 0 12px;
    grid-template-columns: 0 auto;
    grid-template-rows: auto;
    grid-template-areas: "mark title";
  }
  .r-table--card-view-mobile .r-table__thead .r-table__row .r-table__heading:not(.col--mark):not(.col--title) {
    display: none;
  }
  .r-table--card-view-mobile .r-table__row {
    padding: 15px 20px 20px 12px;
    gap: 8px 10px;
  }
}

/* Table Sort */
.sort-inactive {
  opacity: 0.3;
}
.sort-active {
  opacity: 0.8;
}

.sort-inactive:before {
  content: "\f0dc"; /* Sort icon */
}
.sort-active.sort-asc:before {
  content: "\f0de"; /* Sort Up icon */
}
.sort-active.sort-desc:before {
  content: "\f0dd"; /* Sort Down icon */
}

/** Table Fields **/
.item-title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 100%;
}
.item-title {
  font-size: 16px;
  font-weight: 600;
  max-height: 1.5em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
/* Table dates */
.date {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.date__diff-for-humans {

}
.date__regular {
  font-size: 0.8em;
  color: #999;
}


.card-table td:first-child,
.card-table th:first-child {
  padding-left: 40px;
}
.card-table td:last-child,
.card-table th:last-child {
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .card-table td:first-child,
  .card-table th:first-child {
    padding-left: 20px;
  }
  .card-table td:last-child,
  .card-table th:last-child {
    padding-right: 20px;
  }

  tr .col--status .status__title,
  tr .col--category .status__title {
    display: none;
  }
}


/**********************************/
/* Singers List */
.row--singer .user-avatar {
  float: left;
}

.user-avatar {
  border-radius: 5px;
  margin-right: 15px;
}
.user-avatar-rounded {
  border-radius: 10px;
  margin-right: 15px;
  width: 100%;
}
.user-avatar.user-avatar-nav {
  width: 20px;
  margin-right: 5px;
}

.col--delete {
  width: 1em;
  padding-left: 0;
  padding-right: 0;
}


/* Singer Table - Tablet */
@media screen and (max-width:980px) {

}

/* Singer Table - Mobile */
@media screen and (max-width:767px) {
  .row--singer {

    .col--category {
      width: 1em;
      padding-left: 0;
      padding-right: 0;
    }

    .col--progress,
    .col--actions {
      display: none;
    }

    .user-avatar {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
  }
}

/** Fields **/
.singer-email,
.singer-phone {
  font-size: 14px;
  line-height: 1.2;
}
.singer-email {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.singer-part {
  font-size: 18px;
}
.singer-category {
  font-size: 14px;
  font-weight: 600;
}
.progress {
  height: 0.7rem;
  width: 80px;
  flex: 0 1 auto;
  border: 1px solid #ddd;
}
.progress--link {
  font-size: 12px;
}
.singer-col--actions .dropdown {
  width: 100%;
}

/*********************************/
/** SONGS LIST **/
.col--title {
  font-weight: 600;
}

/* Song Table - Tablet */
@media screen and (max-width:980px) {

}
/* Song Table - Mobile */
@media screen and (max-width:767px) {
  .row--song {
    .col--category {
      display: none;
    }

    .col--created {
      display: none;
    }

    th .sort-active,
    th .sort-inactive, {
      display: none;
    }
  }
  
}

/********************************/
/** ATTACHMENT LIST **/
.row--attachment {
  grid-template-columns: 1% 30% 1fr 1fr 10% 1em;
  grid-template-rows: 1fr;
  grid-template-areas:
		"mark title file category actions delete"
;
}
.attachment-col--filename {
  grid-area: file;
}
.attachment-col--category {
  grid-area: category;
}
.attachment-col--actions {
  grid-area: actions;
}

/* Attachment Table - Tablet */
@media screen and (max-width:980px) {
  .r-table--card-view-mobile .row--attachment {
    grid-template-columns: 1% 25% 1fr 1fr 20% 1em;
    grid-template-rows: 1fr;
    grid-template-areas:
			"mark title file category actions delete"
  ;
  }
}
/* Attachment Table - Mobile */
@media screen and (max-width:767px) {

  .r-table--card-view-mobile .row--attachment {
    grid-template-columns: 0 55% 1fr 1em;
    grid-template-rows: auto auto;
    grid-template-areas:
			"mark title category delete"
			"mark file actions delete"
  ;
  }

  .attachment-col--category,
  .attachment-col--actions {
    justify-content: flex-end;
  }
}


/********************************/
/** EVENTS LIST **/

/* Event Table - Tablet */
@media screen and (max-width:980px) {
  .row--event .col--created,
  .row--event .col--attendance,
  .row--event .col--rsvp {
    display: none;
  }
}
/* Event Table - Mobile */
@media screen and (max-width:767px) {

  .row--event .col--type,
  .row--event .col--location {
    display: none;
  }
}

/********************************/
/** GROUP LIST **/
.row--group {
  grid-template-columns: 1% 30% 1fr 1fr 10% 1em;
  grid-template-rows: 1fr;
  grid-template-areas:
		"mark title type slug created delete"
;
}
.group-col--type {
  grid-area: type;
}
.group-col--slug {
  grid-area: slug;
}
/* Group Table - Tablet */
@media screen and (max-width:980px) {
  .r-table--card-view-mobile .row--group {
    grid-template-columns: 1% 30% 1fr 1fr 1fr 1em;
    grid-template-rows: 1fr;
    grid-template-areas:
			"mark title type slug created delete"
  ;
  }
}
/* Group Table - Mobile */
@media screen and (max-width:767px) {

  .r-table--card-view-mobile .row--group {
    grid-template-columns: 0 60% 1fr 1em;
    grid-template-rows: auto auto;
    grid-template-areas:
			"mark title type delete"
			"mark slug created delete"
  ;
  }

  .group-col--type,
  .row--group .col--created {
    justify-content: flex-end;
  }
}

/*********************************/
/** FOLDERS LIST **/
.row--folder {
  grid-template-columns: 1% 1.5fr 1fr 10% 10% 1em;
  grid-template-rows: 1fr;
  grid-template-areas:
			"mark title status created actions delete"
;
}
.folder-col--status {
  grid-area: status;
}
.folder-col--actions {
  grid-area: actions;
}

.parent-row--folder {
  font-size: 14px;
}
.sub-row--document:nth-child(even) {
  background-color: transparent;
}
.sub-row--document .col--title .item-title,
.sub-row--document .col--title label,
.sub-row--document .folder-col--status,
.sub-row--document .col--created {
  font-size: 1em;
}
.sub-row--document .date {
  line-height: 1.3;
}

/* Folder Accordion / Collapse */
/* Add icons to accordion */
.accordion .collapse-toggle {
  display: block;
  text-align: left;
}
.accordion .collapse-toggle:before {
  width: 1.2em;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\F07C"; /* fa-folder-open */
}

.accordion .collapse-toggle.collapsed:before {
  content: "\F07B"; /* fa-folder */
}

.form-control-sm {
  height: calc(1.875rem + 1px);
}

.row--folder.row-add {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #EEF;
  grid-template-areas:
		"mark title title title actions delete"
;
}

/* Folders Table - Tablet */
@media screen and (max-width:980px) {
  .r-table--card-view-mobile .row--folder {
    grid-template-columns: 1% 50% 1fr 1fr 1em;
    grid-template-rows: 1fr;
    grid-template-areas:
			"mark title status actions delete"
  ;
  }

  .row--folder .col--created {
    display: none;
  }
}
/* Folders Table - Mobile */
@media screen and (max-width:767px) {

  .r-table--card-view-mobile .row--folder {
    grid-template-columns: 0 55% 6.5em 1em;
    grid-template-rows: auto auto;
    grid-template-areas:
			"mark title actions delete"
			"mark status created delete"
  ;
  }
}
